html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #111;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 600;
}

.section {
  background-color: #fbfbfb;
  padding: 10px;
  border: 1px solid #ccc;
  flex-direction: column;
  justify-content: center;
  margin: 0.6rem auto;
  border-radius: 0.5rem;
  max-width: 45rem;
}

.sectionTitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.gameTitle {
  font-size: 1rem;
  margin-right: 5px;
}


.gameLink:hover {
  color: #03698f;
  

}.gameLink {
  position: relative;
  color: #004d65;
  text-decoration: none;
}
.gameLink::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 1px;
  left: 0;
  background-color: #03698f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.gameLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.game {

  border-top: 1px solid #ccc;
  padding-bottom:   0.5rem;
  padding-top:  0.5rem;
  justify-content: space-between;
  display: flex;
  
}
footer {
  color: #fff;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 7rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.credit{
  position: absolute;
  align-items: right;
  justify-content: right;
  text-align: right;
  align-items: right;
  width: 100%;
  right: 3rem;
}

